/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Navegación */
nav {
  background-color: #555;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #888;
}

/* Secciones */
section {
  padding: 40px 0;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  background-color: #1e678922;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: translateY(-5px);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Formulario de contacto */
form {
  max-width: 600px;
  margin: 0 auto;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilos para el carrusel de imágenes */
.carousel-container {
  max-width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  ul li {
    margin-bottom: 20px;
  }
}
